.table-wrapper,
.table {
    margin: 30px auto;
    border: 1px solid $color-secondary;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #1b43325b;
    background-color: $color-fourth;
}
.table {
    background-color: $color-tertiary;
    overflow-x: auto;
    width: 100%;
}

.table-wrapper {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;

    .table-header,
    .table-footer {
        display: flex;
        justify-content: space-between;
    }
    .table-header label {
        font-size: 1rem;
        margin-right: 5px;
    }
    #itemSize {
        background: $color-tertiary;
        border: 1px solid $color-secondary;
        border-radius: 5px;
    }
    .header-search input {
        border-radius: 10px;
        padding: 5px;
    }
    .table-footer {
        .footer-info > span {
            font-size: 1rem;
            margin-right: 5px;
        }
        .footer-pagination {
            display: flex;
        }
        .footer-pagination > p {
            border: 1px solid $color-secondary;
            background-color: $color-tertiary;
            border-radius: 5px;
            padding: 5px;
            margin: 0 8px;
        }
        .footer-pagination > button {
            background-color: $color-tertiary;
            border: 1px solid $color-secondary;
            border-radius: 5px;
        }
        .footer-pagination > button:active {
            transform: translateY(1px);
        }
        .footer-pagination > button:hover {
            transform: translateY(1px);
        }
    }

    .th > div > button {
        display: flex;
        justify-content: center;
    }
    .th > div > button > div {
        margin-right: 5px;
    }

    .td > div {
        color: rgba(0, 0, 0, 0.897);
        height: 20px;
    }
}

@media all and (max-width: 1079px) {
    .th > div > button > div {
        font-size: 14px;
        margin: 0;
    }

    .td > div {
        font-size: 11px;
    }
}

@media all and (min-width: 1080px) and (max-width: 1310px) {
    .th {
        font-size: 16px;
    }
}
