.table-wrapper,
.table {
    margin: 30px auto;
    border: 1px solid $color-secondary;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #1b43325b;
    background-color: $color-fourth;
}
.table {
    background-color: $color-tertiary;
}

.table-wrapper {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .table-header,
    .table-footer {
        display: flex;
        justify-content: space-between;
    }
    .table-header label {
        font-size: 1rem;
        margin-right: 5px;
    }
    #itemSize {
        background: $color-tertiary;
        border: 1px solid $color-secondary;
        border-radius: 5px;
    }
    .header-search input {
        border-radius: 10px;
        padding: 5px;
    }
    .table-footer {
        .footer-info > span {
            font-size: 1rem;
            margin-right: 5px;
        }
        .footer-pagination {
            display: flex;
        }
        .footer-pagination > p {
            border: 1px solid $color-secondary;
            background-color: $color-tertiary;
            border-radius: 5px;
            padding: 5px;
            margin: 0 8px;
        }
        .footer-pagination > button {
            background-color: $color-tertiary;
            border: 1px solid $color-secondary;
            border-radius: 5px;
        }
        .footer-pagination > button:active {
            transform: translateY(1px);
        }
        .footer-pagination > button:hover {
            transform: translateY(1px);
        }
    }
}

.table {
    width: 100%;
}
