.Home {
    align-self: center;
    margin-top: 20px;
    width: 100%;

    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    &-form {
        margin-top: 20px;
        padding: 10px 5px;
        width: 20%;
        border: 1px solid $color-secondary;
        border-radius: 20px;
        box-shadow: 2px 2px 2px #1b43325b;
        background-color: $color-fourth;
    }
}
