@import './Base/reset';
@import './Utils/variables';
@import './Base/base';

@import './Components/btn';
@import './Components/logo';

@import './Layout/layout';
@import './Layout/header';
@import './Layout/banner';
@import './Layout/form';
@import './Layout/tableEmployees';
@import './Layout/defaultChevron';
@import './Layout/loader';
@import './Layout/error';
@import './Layout/footer';
@import './Layout/message';

@import './Pages/home';
@import './Pages/employees';
