/*  font  */

$font: 'Sansita', sans-serif;
$default-font: Verdana, Tahoma, sans-serif;

$color-logo: #93ad18;

$color-primary: #b7e4c7;
$color-secondary: #1b4332;
$color-tertiary: #d8f3dc;
$color-fourth: #74c69d;
$color-btn-save: #0d2149;
$color-btn-cancel: #a31621;
