/*  font  */

$font: 'Philosopher', sans-serif;
$default-font: Verdana, Tahoma, sans-serif;

$background-color-home: whitesmoke;

$grey: grey;
$grey-light: lighten($grey, 37%);
$color-logo: #93ad18;
$color-1: #c9d68b;
$color-2: #3218ad;
$color-3: #e4eac5;
$color-4: #f2f5e2;
$color-5: #a1b735;
$color-6: #ad1849;

$background-color-form: #b2d11a;
